/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

#filemanager .flex {
  display: flex;
}

#filemanager .flex > .column.left {

}

#filemanager .flex > .column.right {
  flex: 1 1 100%;
  margin-left: 1rem;
  padding: 0.5rem;
  background: #eee;
}

#filemanager .group-mediafilesearch-tagids {
  padding-left: 1px;
}
/*------------------------------------*\
    #MAIN
\*------------------------------------*/
#header {
  font-size: 1.4em;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
/*------------------------------------*\
    #ITEMS
\*------------------------------------*/
.list-view {
/*  float: left;
  width: 660px;*/
}
.list-view .items {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: ". . . . .";
}
.list-view .items .item {
/*  display: inline-block;
  margin-bottom: 3px;*/
  border: 1px solid #ddd;
}
.list-view .items .item a {
  position: relative;
  display: block;
  color: #5ba6f7;
}
.list-view .items .item a img {
  min-width: 100%;
  min-height: 100%;
  display: block;
  object-fit: cover;
  opacity: .8;
}
.list-view .items .item a img:hover {
  opacity: 1;
}
.list-view .items .item a .checked {
  display: none;
  position: absolute;
  top: 5px;
  right: 6px;
  font-size: 3em;
}
.list-view .items .item .active {
  outline: 5px solid #5ba6f7;
  outline-offset: -5px;
}
.list-view .items .item .active img {
  opacity: 1;
}
.list-view .items .item .active .checked {
  display: inline-block;
}
/*------------------------------------*\
    #PAGINATION
\*------------------------------------*/
.pagination {
  margin-top: 10px;
}
/*------------------------------------*\
    #DASHBOARD
\*------------------------------------*/
.dashboard {
  margin: 1rem 0;
  border-bottom: 1px solid #ddd;
}
.dashboard .loading {
  width: 298px;
  margin-top: 50px;
  font-size: 5em;
  color: #5ba6f7;
  text-align: center;
}
/*------------------------------------*\
    #UPLOAD MANAGER
\*------------------------------------*/
#uploadmanager {
  padding: 0 15px 0 0;
}
#uploadmanager .progress {
  margin-top: 10px;
}
/*#uploadmanager .template-upload {
  opacity: 1!important;
}*/
#uploadmanager .template-upload td,
#uploadmanager .template-download td {
  vertical-align: middle;
}
/*------------------------------------*\
    #FILEINFO
\*------------------------------------*/
#fileinfo {
  height: 100%;
}
#fileinfo img {
  float: left;
  max-width: 82px;
}
#fileinfo .detail {
  float: left;
  margin: 0 0 0 10px;
  padding: 0;
  list-style: none;
  font-size: .85em;
}
#fileinfo #control-form {
  display: flex;
  flex-direction: column;
}
#fileinfo .filename {
  clear: both;
  margin-bottom: 5px;
}
#fileinfo .form-group {
  margin-bottom: 0;
}
#fileinfo .control-label {
  margin-bottom: 0;
  font-size: .9em;
  font-weight: bold;
}
#fileinfo textarea {
  max-width: 100%;
}
#fileinfo .buttons {
  margin-top: 1rem;
}
#fileinfo .buttons .btn-primary {
  flex:1;
}
/*------------------------------------*\
    #SPIN ICONS
\*------------------------------------*/
.spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  /* IE 9 */
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 950px) {
  .list-view .items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . . .";
  }
}

@media (max-width: 850px) {
  #filemanager > .flex {
    display: block;
  }
  .list-view .items {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: ". . . . .";
  }
  #filemanager .flex > .column.right {
    margin-left: 0;
    max-width: 500px;
  }
}

@media (max-width: 750px) {
  .list-view .items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas: ". . . .";
  }
}

@media (max-width: 550px) {
  .list-view .items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". . .";
  }
}

@media (max-width: 410px) {
  .list-view .items {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
  }
}